* {
    box-sizing: border-box;
}

.container, html, body {
    height: 100%;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Space Mono';
    color: #4fab6d;
    font-size: 2vw;
}

.scores-board {
    display: flex;
    justify-content: end;
}

.scores-board div {
    border: 1px solid;
    padding: 5px;
}

.game-box {
    background: #041208;
    border: 1px solid green;
    padding: 25px;
    width: 80%;
    height: 80%;
    border-radius: 25px;
}

@media only screen and (min-width: 950px) {
    .game-box-content {
        padding: 0 40px;
    }
}

input {
    background: transparent;
    border: 0;
    color: #4fab6d;
    border-bottom: 1px solid;
    font-family: 'Space Mono';
    font-size: inherit;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.highlight-all {
    color: orange;
}

.highlight {
    background: red;
}

.flash-winner-box {
    margin-top: 30px;
    background: #4fab6d;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: black;
    padding: 20px;
}

.flash-winner-box-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.card-icon {
    width: 40px;
}


.pc-base-top, .pc-base-bottom {
    display: block;
    background: #041208;
}

.pc-base-top {
    height: 80px;
    width: 70px;
}
.pc-base-bottom {
    height: 20px;
    width: 180px;
}